catboost==1.2.1
gdown==4.6.6
h5py==3.9.0
hyperopt==0.2.7
ipympl==0.9.3
ipywidgets==7.7.1
lightgbm==4.0.0
matplotlib==3.7.1
matplotlib-inline==0.1.6
numpy==1.23.5
pandas==1.5.3
pep8==1.7.1
plotly==5.15.0
pycodestyle==2.11.0
pytest==7.4.1
scikit-image==0.19.3
scikit-learn==1.2.2
scipy==1.11.2
seaborn==0.12.2
tqdm==4.66.1
umap-learn==0.5.3
xgboost==1.7.6